@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Merriweather:ital,wght@1,700&display=swap');

header img{
margin: 0;
width: 20%;
}

header h1 {
margin: auto;
width: 960px; 
text-align: center;
background-color: rgb(153, 13, 13);
color: rgb(255, 254, 254);
}


header nav {
    text-align: right;
}
body {
font-family: 'Merriweather', serif;
}

footer {
text-align: center;
background-color: #313336;
color: rgb(255, 254, 254);
}

 header nav a {
text-decoration: none;
padding: 10px;
text-transform: uppercase;
color: #000;

}
 footer nav a {
    color: rgb(255, 254, 254);
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;

 }

 .container{
    max-width: 1000px;
  position: relative;
  margin: auto;
}

