@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Merriweather:ital,wght@1,700&display=swap');

header img{
margin: 0;
width: 20%;
}

header h1 {
margin: 30px;
width: 960px; 
text-align: center;
background-color:#B38481;
color: rgb(255, 254, 254);
position: relative;
left: 150px;
}


header nav {
    text-align: right;
}
body {
font-family: 'Merriweather', serif;
}

footer {
text-align: center;
background-color: #7F5A58;
color: rgb(255, 254, 254);
}

 header nav a {
text-decoration: none;
padding: 10px;
text-transform: uppercase;
color: #000;

}
 footer nav a {
    color: rgb(255, 254, 254);
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;

 }

.Navigator {
   position: relative;
   right: 55px;
   margin: 25px;
}


#Sales {
   color: #7F5A58;
   position: relative;
   right: 5px;
   bottom: 27px;
}


 .all  {
   position: relative;
   width: 35%;
   height: 1px;
   margin: auto;
}

   
   .city {
      display: grid;
      grid-template-columns: repeat(5, 5fr);
      gap: 20px;
      font-family: 'Merriweather', serif;
}

.display{
   border: 2px solid #B38481;
   text-transform: capitalize;
   font-size: 16px;
   background-color :#FAEBD7;
   color: #7F5A58;
   padding: 2px;
}

#cityPic {
   width: 100%;
   }

   main {
      width: 90%;
      margin: auto;
      background-color:#FAEBD7;
      border: 1px solid #5f5e61;
  }

  #pic1 {
     position: relative;
     left :300px;
     top: 1300px;
  }

  #pic2 {
     position:relative;
     left : 350px;
     top: 400px;
  }

  .mainpic {
     width: 100%;
  }
  
  #pic4 {
     position: relative;
     left: 350px;
     bottom: 700px;
  }
 #pic6 {
    position: relative;
    right: 100px;
    bottom: 1425px;
 }

#pic5 {
   position: relative;
   right: 100px;
   bottom: 590px;
}
#pic3 {
   position: relative;
   top :500px;
   right: 70px;
}