@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Merriweather:ital,wght@1,700&display=swap');

header img{
margin: 0;
width: 20%;
}

header h1 {
margin: auto;
width: 960px; 
text-align: center;
}


header nav {
    text-align: right;
}
body {
background-color: rgb(121, 201, 247);
font-family: 'Merriweather', serif;
}

footer {
text-align: center;
background-color: #262627 ;
color: rgb(255, 254, 254);
}

a {
text-decoration: none;
padding: 10px;
text-transform: uppercase;
}
