table {
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #ccc;
    padding: 5px 10px;
  }
  
  th {
    background-color: #FAEBD7;
    color :#B38481;

    margin: auto;

  }

  header h1 {
    background-color: #B38481;
    text-align: center;
    color: rgb(255, 254, 254);


  }

  button:hover{
    color:  #B38481;
    background-color: #ffffff;
    position: relative;
    }

    input {
      margin-bottom: 7px;
      height: 20px;
    }

      button {
        border: none;
        height: 30px;
        width: 120px;
        background-color:#B38481;
        color: white;
        border-radius: 7px;
        }

        
        label {
          font-size: 20px;
          }

          form  {
            font-size: 25px;
       }

        