table {
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #ccc;
    padding: 5px 10px;
  }
  
  th {
    background-color: #313336;
    color: #fff;

    margin: auto;

  }

  header h1 {
    background-color: rgb(153, 13, 13);
    text-align: center;
    color: rgb(255, 254, 254);


  }

  button:hover{
    color:  rgb(153, 13, 13);
    background-color: #ffffff;

    }

    input {
      margin-bottom: 7px;
      height: 20px;
    }

      button {
        border: none;
        height: 30px;
        width: 120px;
        background-color: #7e7a7a;
        color: white;
        border-radius: 7px;
        }

        
        label {
          font-size: 20px;
          }

          form  {
            font-size: 25px;
       }

        